.f1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px ;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #0f0808;
}
.dash{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 2rem;
    font-weight: bold;
    background:linear-gradient( 113.3deg,  rgba(0,98,186,1) -6%, rgba(88,40,178,1) 10.2%, rgba(234,39,119,1) 34.3%, rgba(255,80,152,1) 54%, rgba(255,101,74,1) 62.5%, rgba(254,166,34,1) 77.2%, rgba(255,227,99,1) 91.2%, rgba(58,243,156,1) 112%, rgba(58,243,156,1) 118.1% );
}